* {
    padding: 0;
    margin: 0;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkgrey: hsl(0, 0%, 12%);
    --offblack: hsl(0, 0%, 8%);
}

@font-face {
    font-family: "font";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body {
    background-color: var(--offblack);
}

.container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

.wrapper {
    background-color: var(--darkgrey);
    width: 325px;
    border-radius: 10px;
}
/* header css */

header .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    text-align: center;
    padding: 20px;
}

header .avatar-container .avatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    /* background-color: var(--green); */
}

header .avatar-container .avatar-name {
    color: var(--white);
    font-family: "font";
    font-size: 25px;
    margin: 20px 0 7px 0;
    font-weight: 700;
}

header .avatar-container .avatar-address {
    color: var(--green);
    font-family: "font";
    font-size: 14px;
    font-weight: 600;
}

/* section css */

section {
    text-align: center;
}

section .slogan {
    color: var(--white);
    font-family: "font";
    font-size: 14px;
    font-weight: 300;
}

/* nav css */

nav .link-container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
    list-style: none;
    gap: 10px; 
}

nav .link-container .links {
    text-align: center;
    background-color: var(--grey);
    border-radius: 10px;
}

nav .link-container .links .link {
    color: var(--white);
    text-decoration: none;
    list-style: none;
    line-height: 40px;
    display: block;
    border-radius: 10px;
    font-family: "font";
    font-weight: 600;
    font-size: 16px;
}

nav .link-container .links .link:active {
    color: var(--grey);
    background-color: var(--green);
}





